[submodule "ris_widget"]
	path = ris_widget
	url = https://github.com/erikhvatum/RisWidget.git
[submodule "misc/yapy_liblinear/source/liblinear/liblinear_git"]
	path = misc/yapy_liblinear/source/liblinear/liblinear_git
	url = https://github.com/erikhvatum/liblinear.git
